.TEXT {
  display: block;
  position: absolute;
  z-index: 1;
  color: white;
  width: 80%;
  top: 32%;
  left: 10%;
  background: #02023A;
}

.TEXT_TITLE {
  font-size: 7px;
}

.card {
  position: relative;
}

.state {
  font-size: 8px;
  color: gray;
}

.card-footer {
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
  background: #DDAC2B;
}

.card-body {
  background: #f5f5f5;
}

.hotelDimension {
  width: 8rem;
}

.cardRoom {
  width: 40px;
}

.cardPrice {
  width: 60px;
}

