.image1 {


}

.image2 {
  display: block;
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 70%;
  top: 10%;
  margin-left: 25%;
  border-radius: 10px;
}

.image3 {
  display: block;
  z-index: 3;
  position: absolute;
  width: 60%;
  height: 40%;
  top: 30%;
  margin-left: 50%;
  border-radius: 10px;
}
.imageDecision {
  position: relative;

}

.customersTitle {
  color: #DDAC2B;
  font-size: 12px;
}

.customers-text, .customers-footer {
  font-size: 12px;
}

button {
  background: #DDAC2B;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background: #02023A;
}

.customers-header {
  font-style: italic;
}

.happy {
  background: #f5f5f5;
}