.footerText, .footerText1, .footerText3, .footerText5 {
  font-size: 15px;
  color: white;
}

.footerText1, .footerText3, .footerText5 {
  text-align: center;
}

.footerContain {
  background: #02023A;
}