.footerText, .footerText1, .footerText3, .footerText5, .footerText4 {
  font-size: 15px;
  color: white;
}

.footerText1, .footerText3, .footerText5 {
  text-align: center;
}

.footerContain, .copyright {
  background: #02023A;
}

.copyrightText {
  color: white;
  font-size: 10px;
  text-align: center;
  width: 70%;
}
